<h4><strong>Supraśl k.Białegostoku 20-24.05.2019</strong></h4>
<br>
<h4>Organizator: Delegatura we Wrocławiu & Delegatura w Białymstoku</h4>
<h4>Koordynator szkolenia: Marcin Woźniak, marcin.wozniak@uke.gov.pl, +48 668 470 856</h4>
