<style type="text/css">  
  th {
    background-color: #BECC25 !important;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title"><%= t '.title' %></span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <p class="text-justify">
        W związku z dynamicznie rozwijającymi się technologami w zakresie emisji radiowych, rozwojem technik pomiarowych widma częstotliwości oraz okresową wymianą aparatury kontrolno-pomiarowej jaka dokonuje się w UKE, zachodzi konieczność ciągłego podnoszenia kwalifikacji i budowania kompetencji pracowników UKE wchodzących w skład zespołów kontrolnych obsługujących Ruchome Stacje Pomiarowe. Z uwagi na lawinowo rosnące statystyki zgłoszeń zakłóceń radioelektrycznych oraz kłopotliwość ich eliminowania, przewodnim tematem warsztatów będą właśnie  teoretyczne i praktyczne aspekty eliminacji zakłóceń radioelektrycznych. Uczestnicy szkolenia zapoznają się m.in. z zasadami planowania i użytkowania widma częstotliwości na obszarach transgranicznych z przykładem realizacji porozumienia POL-BLR, po to aby w części praktycznej zrealizować ćwiczenie polegające na lokalizowaniu źródeł zakłóceń pochodzących z zagranicy.
      </p> 
      <p class="text-justify">
        Ponadto w części teoretycznej zostaną  uczestnikom zaprezentowane użyteczne funkcjonalności takich przyrządów pomiarowych jak PR100 czy ETL, natomiast w części praktycznej wszystkie zespoły kontrolne przeprowadzą pomiary wybranych parametrów emisji poszczególnych służb radiokomunikacyjnych zgodnie z wytycznymi zawartymi w skrypcie wydanym przez Urząd Komunikacji Elektronicznej pt. „Instrukcje pomiarowe”.
      </p>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->


  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="index-title"><%= t '.schedule' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered compact" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Data</th>
            <th>Godzina</th>
            <th>Temat</th>
            <th>Akcesoria</th>
            <th>Niezbędne przygotowania</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2019-05-22</td>
            <td>19:00</td>
            <td>Kolacja</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>8:30 - 9:00</td>
            <td>Odprawa przed zadaniami</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>9:00 - 13:00</td>
            <td>Ćwiczenie poligonowe Nr. 3 - Utrwalnie umiejętności pomiarowych zgodnie z zasadami  opisanymi w instrukcjach pomiarowych</td>
            <td>Wszystkie RSP, namiernik, odbiornik lub analizator, laptop</td>
            <td>Opracowanie scenariusza - Janusz Masłowski</td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>13:00 - 14:00</td>
            <td>Obid "poligonowy"</td>
            <td>Stoły, krzesła, woda do umycia rąk, toaleta (toy-toy)</td>
            <td>Ustalenie miejsca, menu i uzgodnienie z dostawcą kateringu.</td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>14:00 - 17:30</td>
            <td>Ćwiczenie poligonowe Nr 4 - diagnostyczny pomiar E oraz dokładności namierznia, awaryjne chowanie masztu</td>
            <td>Wszystkie RSP, namiernik, odbiornik lub analizator, laptop</td>
            <td>Wszystkie ćwiczenia wykonywane jednocześnie w szyku poligonowym (rezygnacja z pojedynczego stanowiska). Scenariusz - Marcin Woźniak</td>
          <tr>
          <tr>
            <td>2019-05-23</td>
            <td>19:00</td>
            <td>Kolacja</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-24</td>
            <td>7:30 - 8:30</td>
            <td>Śniadanie</td>
            <td></td>
            <td></td>
          <tr>
          <tr>
            <td>2019-05-24</td>
            <td>9:00</td>
            <td>Wyjazd ekip</td>
            <td></td>
            <td></td>
          <tr>
        </tbody>

      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
  <br>
</div> <!--/container -->

 

