<style type="text/css">  
  th {
    background-color: #BECC25 !important;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title"><%= t '.title' %></span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>


</div> <!--/container -->

 
