<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-role">
      <div class="panel-heading">
        <div class="panel-title">
          <span class="glyphicon glyphicon-sunglasses">&nbsp;</span>
          <span><%=t "pages.role.edit.title"%>:&nbsp;<%= @role.fullname %></span>    
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
            <h1><span class="glyphicon glyphicon-edit"></span></h1> 
          </div> <!--/col-sm-1-->

          <%= render 'form', role: @role %>
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->

