#regions_csv_div {
    height: 75vh; 
    min-width: 55%; 
    max-width: 800px; 
    margin: 0 auto; 
}

#regions_xml_div {
    height: 75vh; 
    min-width: 55%; 
    max-width: 800px; 
    margin: 0 auto; 
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}