<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-survey">
      <div class="panel-heading">
        <div class="panel-title">
          <span class="fa fa-camera">&nbsp;</span>
          <span><%=t ".title"%>:&nbsp;<%= @exposition.name %></span>    
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
            <h1><span class="glyphicon glyphicon-edit"></span></h1> 
          </div> <!--/col-sm-1-->

          <%= render 'form', exposition: @exposition %>
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->

